<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/lang 
http://www.springframework.org/schema/lang/spring-lang-2.5.xsd
http://camel.apache.org/schema/spring 
http://camel.apache.org/schema/spring/camel-spring.xsd">


    <ctx:property-placeholder location="classpath:orm.properties"/>

    <camel:camelContext id="camelContext">
        <camel:routeBuilder ref="routeBuilder"/>        
    </camel:camelContext>

    <bean id="routeBuilder" depends-on="routeModelExtender"
        class="org.openehealth.ipf.ws.SampleRouteBuilder">
    </bean>

    <bean id="sampleModelExtension" 
        class="org.openehealth.ipf.ws.SampleModelExtension">
    </bean>

    <bean id="coreModelExtension" 
        class="org.openehealth.ipf.platform.camel.core.extend.CoreModelExtension">
    </bean>

    <bean id="hl7ModelExtension"
        class="org.openehealth.ipf.platform.camel.hl7.extend.Hl7ModelExtension" />

    <!--bean id="mllpModelExtension"
        class="org.openehealth.ipf.platform.camel.ihe.mllp.core.extend.MllpModelExtension">
    </bean-->

    <bean id="orm2adtConverter"  class="org.openehealth.ipf.ws.util.Orm2AdtConverter" />

    <bean id="hapiModelExtension" class="org.openehealth.ipf.modules.hl7.extend.HapiModelExtension"></bean>

    <bean id="deleteORM"
          class="org.openehealth.ipf.ws.DeleteORM">
    </bean>

    <bean id="reviseORM"
          class="org.openehealth.ipf.ws.ReviseORM">
    </bean>

    <bean id="routeModelExtender" 
        class="org.openehealth.ipf.platform.camel.core.extend.DefaultModelExtender">
        <property name="routeModelExtensions">
            <list>
                <ref bean= "coreModelExtension" />
                <ref bean= "sampleModelExtension" />
                <ref bean = "hl7ModelExtension"/>
                <!--ref bean = "mllpModelExtension"/-->
                <ref bean = "hapiModelExtension"/>
                <ref bean = "ormConfiguration" />
            </list>
        </property>
    </bean>

    <bean id="ormConfiguration"
          class="org.openehealth.ipf.ws.OrmConfiguration">
        <property name="sourceID" value="${sourceID}"/>
        <property name="sourceName" value="${sourceName}"/>
        <property name="ormInputURL" value="${ormInputUrl}"/>
        <property name="webServiceURL" value="${webServiceUrl}"/>
        <property name="wsdl" value="${wsdl}" />
        <property name="adtEhcpURL" value="${eHCPAdtFeed}" />
    </bean>


    <bean id="hl7codec" class="org.apache.camel.component.hl7.HL7MLLPCodec">
        <property name="charset" value="iso-8859-1"/>
    </bean>

    <bean id="prefixLookup" class="org.openehealth.ipf.ws.PrefixLookup">
       <property name="prefixMap">
           <map>
               <entry key ="1.2.840.113619.20.2.2.50.1" value="SV"/>
               <entry key ="1.2.840.113619.20.2.2.50.2" value="GR"/>
           </map>
       </property>
    </bean>

    <bean id="hospitalService"
            class="org.openehealth.ipf.ws.hospital.HospitalServiceImpl">
        <property name="hospitalDao" ref="hospitalDao"/>
    </bean>

    <bean id="hospitalDao" class="org.openehealth.ipf.ws.hospital.HospitalDaoImpl">
        <property name="dataSource" ref="dataSource"/>
     </bean>

     <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
     </bean>


</beans>
